/* Remove defaults */
* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

/* Set own defaults */
body {
   background-color: #e6deff;
   padding-top: 4.1em;
}

h1 {
   font-size: 3em;
   padding: 1em;
}

h2 {
   font-size: 1.7em;
   padding: 0.8em;
}

p, a, p a, li {
   font-size: 1.2em;
   margin-left: 0.5em;
}

p {
   margin-bottom: 0.5em;
   line-height: 1.5em;
}

li {
   margin-left: 1.5em;
   padding-left: 0.5em;
}

img {
   width: 100%;
}

a img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*************** Header/Footer style **************/

nav {
   display: inline-block;
}

nav ul {
   list-style-type: none;
}

nav li {
   margin: 1em;
   display: inline-block;
}

nav a:hover {
   text-decoration: underline;
}

header, footer {
   background-color: #333;
   width: 100%;
   color: #ddd;
}

header {
   top: 0;
   position: fixed;
}

footer {
   padding: 2em 0;
   margin: 4em 0 0 0;
   bottom: 0;
}

header h1 {
   font-size: 1.5em;
   padding: 0.2em 1em 0.1em 0.5em;
   display: inline-block;
}

header a {
   font-size: 1.3em;
   text-decoration: none;
}

header a, footer a {
   color: #ddd;
   text-align: center;
}

footer nav {
   display: block;
}

footer hr {
   border-bottom: 1px solid #ddd;
   margin: 2em 3em 2em 3em;
}

.footer-content {
   margin: 0 2em 0 2em;
}

.footer-connect li {
   display: block;
   margin: 0.5em 1.5em;
}

/************ Main **************/

main {
   color: #333;
   text-align: center;
}

/************ Article **************/

article {
   max-width: 60em;
   display: inline-block;
}

/************ Section ************/

section {
   text-align: left;
   border-radius: 0.5em;
   padding: 1.5em;
   margin: 0.5em;
   vertical-align: top;
}

section h2 {
   padding-left: 0;
   padding-top: 0;
}

/************ Figures *************/

figure {
   padding: 0.5em;
   margin: 1em;
   text-align: center;
}

figcaption {
   font-style: italic;
   text-align: inherit;
}

.col-container {
   display: table;
}

.col {
   display: table-cell;
   vertical-align: top;
   padding: 1.5em;
}

.profile-fig {
   width: 50%;
}

@media only screen and (max-width: 40em) {
  .col {
    display: block;
  }
  
  .profile-fig {
     width: 100%;
     margin: auto;
  }
}

/************ Icons *************/

.fab {
   font-size: 3em!important;
   text-align: center;
   text-decoration: none;
}

.fab:hover {
   opacity: 0.7;
   text-decoration: none;
}

/************ Slideshow *************/


